* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #252B42;
}

.header{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: white;
  font-size: 50px;
}

.section-1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.section-1 input{
  height: 30px;
  width: 300px;
  background-color: rgb(180, 179, 180);
  border: none;

  margin-bottom: 20px;
}

.section-1 button{
  height: 30px;
  width: 60px;
  color: white;
  background-color: purple;
  border: none;
}

h2{
  color: white;
  font-size: 40px;
}

.section-2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table{
  margin-top: 50px;
}

table th{
  color: white;
  width: 300px;
  font-size: 20px;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}