* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #252B42;
}

.header{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main{
  padding: 20px;
}

h1 {
  color: white;
  font-size: 50px;
}

.section-1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.section-1 input{
  height: 45px;
  width: 350px;
  background-color: rgb(180, 179, 180);
  border: none;

  margin-bottom: 20px;
}

.section-1 button{
  height: 45px;
  width: 80px;
  color: white;
  background-color: purple;
  border: none;
}

h2{
  color: white;
  font-size: 40px;
}

.section-2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tabela-lista {
  font-weight: lighter;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
}

#tabela-lista td {
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

#tabela-lista td,
#tabela-lista th {
  text-align: left;
  border: 1px solid #f6f6f6;
  padding: 8px;
  color: white;
}

#tabela-lista tr:nth-child(even) {
  background-color: #fff;
}

#tabela-lista tr:hover {
  background-color: #ddd;
}

#tabela-lista th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: purple;
  color: white;
}